html, body {
	margin: 0px;
	height: 100%;
	background-image: url("images/upfeathers.png");
	background-color: #f3f0e8;
}

a {
	color: #AB7B59;
	text-decoration: none;
}

a:visited {
	color: #AB7B59;
}

a:hover {
	color: #AB7B59;
}

h1, h2, h3 {
	font-family: "Poiret One", sans-serif;
}

.content {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	margin-bottom: -100px;
	color: #635448;
}

.content:after {
	content: "";
	display: block;
}

.content-md {
	width: 750px;
	max-width: 1000px;
}

.content-sm {
	width: 750px;
}

.content-xs {
	width: 100%;
}

/*=== begin nav stuff ===*/

.nav {
	text-align: center;
	position: relative;
	font-family: "Poiret One", sans-serif;
	font-size: 20px;
	border-bottom: 1px solid #EFD2BD;
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 999px) {
	.nav {
		height: 40px;
	}
}

@media screen and (min-width: 1000px) {
	.nav {
		height: 60px;
	}
}

.nav-left {
	position: absolute;
	left: 10px;
	top: 0px;
	margin-top: 10px;
	width: 245px;
	margin-top: 20px;
}

.nav-right {
	position: absolute;
	right: 10px;
	top: 0px;
	margin-top: 10px;
	width: 245px;
	margin-top: 20px;
}

.nav-icon {
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 25px;
	color: #AB7B59;
}

.mobil-nav {
	display: none;
	height: 100%;
	width: 100%;
	background-color: #fff;
	color: #635448;
	font-family: "Poiret One", sans-serif;
	font-size: 20px;
	position: fixed;
	z-index: 3;
}

.nav-item-xs {
	text-align: center;
	margin-bottom: 10px;
	height: 30px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.nav-item {
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}

.nav-current {
	border-bottom: 1px solid #EFD2BD;
}

/*=== end nav stuff ===*/

.title {
	color: #AB7B59;
}

.title-smd {
	font-size: 40px;
	text-align: center;
	padding-top: 10px;
}

.title-xs {
	text-align: left;
	font-size: 25px;
}

#letter {
	margin: 50px;
	font-family: "Open Sans", sans-serif;
}

ul.bullets {
	list-style-image: url("images/heart-bullet.png");
}

.footer, .content:after {
	height: 100px;
}

.footer {
	position: relative;
}

.footer-text {
	position: absolute;
	text-align: center;
	bottom: 30px;
	left: 50%;
	color: #AB7B59;
}